/* VARIABLES */
:root {
  --main-font-family: "Public Sans", "Arial", sans-serif;
  --main-text-color: #36536b;
  --main-bg-color: #edf3f8;
  --main-font-size: 15px;
  --main-font-weight: 400;
  --main-line-height: 28px;
  --main-link-color: #ba4270;
}

/* FONTS */
/* public-sans-regular - latin */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/public-sans-v14-latin-regular.woff2") format("woff2"), url("../fonts/public-sans-v14-latin-regular.woff") format("woff");
}
/* public-sans-700 - latin */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/public-sans-v14-latin-700.woff2") format("woff2"), url("../fonts/public-sans-v14-latin-700.woff") format("woff");
}
/* dm-serif-display-regular - latin */
@font-face {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/dm-serif-display-v10-latin-regular.woff2") format("woff2"), url("../fonts/dm-serif-display-v10-latin-regular.woff") format("woff");
}
/* NORMALIZE */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* GENERAL */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
  line-height: var(--main-line-height);
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

/* STICKY-FOOTER */
.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* container */
.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 32px;
}

.logo__img {
  width: 135px;
  height: 38px;
}

.sitenav {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  display: none;
  width: 300px;
  height: 100vh;
  padding: 95px 24px;
  background-color: #1b262f;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
}
.sitenav__open {
  display: block;
}

.x-btn {
  position: absolute;
  top: 48px;
  left: 251px;
  content: "";
  width: 22px;
  height: 23px;
  border: none;
  background-color: transparent;
  background-image: url("../../images/icons/x-btn.svg");
  background-repeat: "no-repeat";
  background-position: "center";
  cursor: pointer;
}

.sitenav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding-left: 0;
  list-style: none;
  padding-top: 43px;
  border-top: 1px solid #b9bec3;
}

.sitenav__item {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #fbfcfe;
}
.sitenav__item:not(:last-child) {
  margin-bottom: 32px;
}
.sitenav__item:last-child .schedule {
  display: block;
  padding: 16px 25px 14px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.115385px;
  color: #fbfcfe;
  background-color: #ba4270;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  text-decoration: none;
}

.sitenav__link {
  color: #b9bec3;
  text-decoration: none;
}

.schedule {
  display: none;
}

.burger-btn {
  display: inline-block;
  width: 28px;
  height: 17px;
  border: none;
  background-color: transparent;
  background-image: url("../../images/icons/burger.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .burger-btn {
    display: none;
  }
  .site-header__first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sitenav {
    position: static;
    display: block;
    background-color: transparent;
    width: auto;
    height: auto;
    padding: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .sitenav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 40px;
    padding-top: 0;
    border-top: 0;
  }
  .sitenav__item {
    font-size: 15px;
    line-height: 18px;
    color: #36536b;
  }
  .sitenav__item:not(:last-child) {
    margin-right: 20px;
    margin-bottom: 0;
  }
  .sitenav__item:last-child .schedule {
    display: none;
  }
  .x-btn {
    display: none;
  }
  .schedule {
    display: block;
    padding: 16px 25px 14px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.115385px;
    color: #fbfcfe;
    background-color: #ba4270;
    -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
            box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border-radius: 24px;
    text-decoration: none;
  }
}
@media only screen and (min-width: 768px) {
  .sitenav__list {
    margin-left: 64px;
  }
  .sitenav__item {
    font-size: 15px;
    line-height: 18px;
    color: #36536b;
  }
  .sitenav__item:not(:last-child) {
    margin-right: 40px;
  }
}
.pricing {
  padding-top: 16px;
  text-align: center;
}

.pricing__heading {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.246154px;
  margin-bottom: 48px;
  color: var(--main-text-color);
}

.pricing__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  width: 100%;
  max-width: 327px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
}

.pricing__item:not(:last-child) {
  margin-bottom: 48px;
}

.pricing__item-title {
  font-family: "DM Serif Display";
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.184615px;
  margin-bottom: 17px;
  text-transform: capitalize;
  color: var(--main-link-color);
}

.pricing__item-desc {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 8px;
  color: #6C8294;
}

.pricing__item-price {
  font-family: "DM Serif Display";
  font-size: 56px;
  line-height: 72px;
  letter-spacing: -0.430769px;
  display: inline-block;
  color: var(--main-text-color);
}

.pricing__item-line {
  width: 100%;
  height: 1px;
  border: none;
  margin: 24px 0;
  background-color: #36536B;
  opacity: 0.25;
}

.pricing__item-inner-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  text-align: left;
}

.pricing__item-inner-item {
  width: 100%;
  max-width: 134px;
  margin-right: auto;
  margin-left: auto;
  opacity: 0.25;
  padding-left: 36px;
}

.pricing__item-inner-item--mdf {
  position: relative;
  color: var(--main-text-color);
  padding: 0;
  opacity: 1;
}
.pricing__item-inner-item--mdf::before {
  top: 0;
  left: 0;
  content: "";
  width: 14px;
  height: 11px;
  display: inline-block;
  margin-right: 24px;
  background-image: url("../images/icons/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.pricing__item-link {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.115385px;
  color: var(--main-text-color);
  display: inline-block;
  padding: 16px 28px 14px 28px;
  border: 1px solid var(--main-text-color);
  border-radius: 24px;
  text-transform: capitalize;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease, color 0.2s ease;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.pricing__item-link:hover {
  color: #FBFCFE;
  background-color: var(--main-text-color);
}
.pricing__item-link:active {
  opacity: 0.7;
}

@media only screen and (min-width: 768px) {
  .pricing {
    padding-top: 43px;
  }
  .pricing__heading {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.369231px;
    margin-bottom: 69px;
  }
  .pricing__list {
    width: 100%;
    max-width: 689px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
  }
  .pricing__item:not(:last-child) {
    margin-right: 10px;
    margin-bottom: 0;
  }
  .pricing__item-title {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.184615px;
    margin-bottom: 17px;
    text-transform: capitalize;
    color: var(--main-link-color);
  }
  .pricing__item-desc {
    margin-bottom: 19px;
  }
  .pricing__item-price {
    font-size: 48px;
    line-height: 72px;
    letter-spacing: -0.369231px;
    display: inline-block;
    color: var(--main-text-color);
  }
  .pricing__item-line {
    margin: 21px 0 24px 0;
  }
}
@media only screen and (min-width: 992px) {
  .pricing {
    padding-top: 50px;
    text-align: left;
  }
  .pricing__heading {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.430769px;
    margin-bottom: 72px;
  }
  .pricing__list {
    max-width: 1110px;
    margin-bottom: 96px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .pricing__item:not(:last-child) {
    margin-right: 30px;
  }
  .pricing__item-title {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.246154px;
    margin-bottom: 16px;
  }
  .pricing__item-line {
    margin: 24px 0;
  }
  .pricing__item-inner-list {
    margin: 0;
    padding-left: 0;
    list-style: none;
    text-align: left;
  }
  .pricing__item-inner-item {
    margin-left: 0;
  }
}
/* about hero */
p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  padding: 0;
}

.about-hero {
  list-style: none;
  padding: 64px 0;
}

.about-hero__box {
  max-width: 730px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  text-align: center;
}

.about-hero__box-heading {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  /* or 112% */
  text-align: center;
  letter-spacing: -0.246154px;
  color: #36536b;
  /* or 100% */
}

.about-hero__list {
  margin-bottom: 76px;
  list-style: none;
}

.about-hero__item {
  margin-bottom: 48px;
}

.about-hero:nth-child(2) {
  margin-bottom: 0;
}

.about-hero__item-heading {
  margin-bottom: 16px;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  text-align: center;
  letter-spacing: -0.184615px;
  color: #36536b;
}

.about-hero__text-wrapper {
  max-width: 635px;
  margin-right: auto;
  margin-left: auto;
}

.about-hero__item-text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #6c8294;
}

.about-hero__img-container {
  max-width: 1480px;
  margin: 0 auto;
}

.about-hero__img {
  width: 100%;
  height: 300px;
}

@media only screen and (min-width: 768px) {
  .about-hero__box {
    margin-bottom: 54px;
  }
  .about-hero__box-heading {
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    /* or 117% */
    text-align: center;
    letter-spacing: -0.369231px;
    color: #36536b;
  }
  .about-hero__list {
    margin-bottom: 92px;
  }
  .about-hero__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about-hero__text-wrapper {
    max-width: 456px;
  }
  .about-hero__item-heading {
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height, or 125% */
    letter-spacing: -0.246154px;
    color: #36536b;
  }
  .about-hero__item-text {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #6c8294;
  }
}
@media only screen and (min-width: 1000px) {
  .about-hero__box {
    margin-left: 0;
    margin-bottom: 51px;
  }
  .about-hero__box-heading {
    text-align: left;
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    /* or 100% */
    letter-spacing: -0.430769px;
    color: #36536b;
  }
  .about-hero__list {
    margin-bottom: 100px;
  }
  .about-hero__item {
    margin-bottom: 56px;
  }
  .about-hero__img {
    height: 500px;
  }
}
/* Contact section start */
.contact {
  padding-top: 16px;
}

.contact__heading {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.246154px;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 40px;
}

.contact__form {
  width: 100%;
  margin-bottom: 80px;
}

.contact__form-input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--main-text-color);
  background: transparent;
  margin-bottom: 24px;
  padding: 0 20px 17px 20px;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: var(--main-text-color);
  opacity: 0.5;
}
.contact__form-input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: var(--main-text-color);
}
.contact__form-input::-moz-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: var(--main-text-color);
}
.contact__form-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: var(--main-text-color);
}
.contact__form-input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: var(--main-text-color);
}
.contact__form-input::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: var(--main-text-color);
}
.contact__form-input:focus {
  opacity: 1;
}
.contact__form-input:not(:-moz-placeholder-shown):not(:focus):invalid {
  color: #FF0000;
  border-bottom-color: #FF0000;
  margin-bottom: 8px;
  opacity: 0.5;
}
.contact__form-input:not(:-ms-input-placeholder):not(:focus):invalid {
  color: #FF0000;
  border-bottom-color: #FF0000;
  margin-bottom: 8px;
  opacity: 0.5;
}
.contact__form-input:not(:placeholder-shown):not(:focus):invalid {
  color: #FF0000;
  border-bottom-color: #FF0000;
  margin-bottom: 8px;
  opacity: 0.5;
}
.contact__form-input:not(:-moz-placeholder-shown):not(:focus):invalid + .contact__form-input-text {
  display: block;
}
.contact__form-input:not(:-ms-input-placeholder):not(:focus):invalid + .contact__form-input-text {
  display: block;
}
.contact__form-input:not(:placeholder-shown):not(:focus):invalid + .contact__form-input-text {
  display: block;
}

.contact__form-input-text {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.0846154px;
  color: #FF0000;
  margin-bottom: 16px;
  opacity: 0.5;
  display: none;
}

.contact__form-textarea {
  width: 100%;
  height: 90px;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid var(--main-text-color);
  margin-bottom: 24px;
  padding: 0 20px 20px 20px;
  resize: none;
  opacity: 0.5;
}
.contact__form-textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: var(--main-text-color);
}
.contact__form-textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: var(--main-text-color);
}
.contact__form-textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: var(--main-text-color);
}
.contact__form-textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: var(--main-text-color);
}
.contact__form-textarea::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: var(--main-text-color);
}
.contact__form-textarea:not(:-moz-placeholder-shown):not(:focus):invalid {
  color: #FF0000;
  border-bottom-color: #FF0000;
  opacity: 0.5;
}
.contact__form-textarea:not(:-ms-input-placeholder):not(:focus):invalid {
  color: #FF0000;
  border-bottom-color: #FF0000;
  opacity: 0.5;
}
.contact__form-textarea:not(:placeholder-shown):not(:focus):invalid {
  color: #FF0000;
  border-bottom-color: #FF0000;
  opacity: 0.5;
}

.contact__form-cheacked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__form-tick {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #BFCBD5;
  opacity: 0.25;
  margin-right: 26px;
  cursor: pointer;
}

.contact__form-label input:checked ~ .contact__form-tick {
  background-image: url("../images/icons/tick-pink.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 1;
}

.contact__form-text {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: var(--main-text-color);
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__form-btn {
  border: none;
  background: transparent;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.115385px;
  color: var(--main-text-color);
  padding: 16px 49px 14px 51px;
  border: 1px solid var(--main-text-color);
  border-radius: 24px;
  cursor: pointer;
  -webkit-transition: color 0.2s ease, background-color 0.2s ease;
  transition: color 0.2s ease, background-color 0.2s ease;
}
.contact__form-btn:hover {
  color: #FFFFFF;
  background-color: var(--main-text-color);
}
.contact__form-btn:active {
  color: var(--main-text-color);
  background-color: transparent;
  opacity: 0.6;
}

.companys {
  margin-bottom: 80px;
}

.companys__heading {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.184615px;
  text-align: center;
  color: #36536B;
  opacity: 0.75;
  margin-bottom: 32px;
}

.companys__links-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: repeat(2, auto);
  gap: 40px;
}

@media only screen and (min-width: 768px) {
  .contact {
    padding-top: 43px;
  }
  .contact__heading {
    width: 100%;
    max-width: 573px;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.369231px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 54px;
  }
  .contact__form {
    max-width: 445px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 64px;
  }
  .companys {
    width: 100%;
    max-width: 541px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
  }
  .companys__heading {
    width: 100%;
    max-width: 445px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
  }
  .companys__links-list {
    grid-template-columns: repeat(3, auto);
  }
}
@media only screen and (min-width: 992px) {
  .contact {
    padding-top: 46px;
  }
  .contact__heading {
    max-width: 730px;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.430769px;
    text-align: left;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 47px;
  }
  .contact__conntaction-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 93px;
  }
  .contact__form {
    margin-right: auto;
    margin-left: 0;
    margin-bottom: 0;
  }
  .companys {
    margin-right: auto;
    margin-left: 30px;
    margin-bottom: 0;
  }
  .companys__links-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .companys__heading {
    width: 100%;
    max-width: 445px;
    text-align: left;
    margin-right: auto;
    margin-left: 0;
  }
}/*# sourceMappingURL=main.css.map */