/* GENERAL */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
  line-height: var(--main-line-height);
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

/* STICKY-FOOTER */

.site-main {
  flex-grow: 1;
}
