/* VARIABLES */

:root {
  --main-font-family: "Public Sans", "Arial", sans-serif;
  --main-text-color: #36536b;
  --main-bg-color: #edf3f8;
  --main-font-size: 15px;
  --main-font-weight: 400;
  --main-line-height: 28px;
  --main-link-color: #ba4270;
}
