/* about hero */
p,
h1,
h2,
h3,
h4 {
  margin: 0;
}
ul {
  padding: 0;
}
.about-curcle {
  background-image: url("../images/icons/draws.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 419px) calc(50% - 900px);
}
.about-hero {
  list-style: none;
  padding: 64px 0;
}
.about-hero__box {
  max-width: 730px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  text-align: center;
}

.about-hero__box-heading {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;

  text-align: center;
  letter-spacing: -0.246154px;

  /* or 112% */

  text-align: center;
  letter-spacing: -0.246154px;

  color: #36536b;
}
.about-hero__list {
  margin-bottom: 76px;
  list-style: none;
}
.about-hero__item {
  margin-bottom: 48px;
}
.about-hero:nth-child(2) {
  margin-bottom: 0;
}
.about-hero__item-heading {
  margin-bottom: 16px;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;

  text-align: center;
  letter-spacing: -0.184615px;

  /* identical to box height, or 133% */

  text-align: center;
  letter-spacing: -0.184615px;

  color: #36536b;
}
.about-hero__text-wrapper {
  max-width: 635px;
  margin-right: auto;
  margin-left: auto;
}
.about-hero__item-text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #6c8294;
}
.about-hero__img-container {
  max-width: 100%;
  margin: 0 auto;
  // padding: 0 20px;
}
.about-hero__img {
  width: 100%;
  height: 300px;
}
@include mobile-first(768px) {
  .about-hero__box {
    margin-bottom: 54px;
  }
  .about-hero__box-heading {
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    /* or 117% */

    text-align: center;
    letter-spacing: -0.369231px;

    color: #36536b;
  }
  .about-hero__list {
    margin-bottom: 92px;
  }
  .about-hero__item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .about-hero__text-wrapper {
    max-width: 456px;
  }
  .about-hero__item-heading {
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height, or 125% */

    letter-spacing: -0.246154px;

    color: #36536b;
  }
  .about-hero__item-text {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #6c8294;
  }
}
@include mobile-first(1000px) {
  .about-hero__box {
    margin-bottom: 51px;
    margin-right: 0;
    margin-left: 95px;
  }
  .about-hero__box-heading {
    text-align: left;
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.430769px;

    /* or 100% */

    letter-spacing: -0.430769px;

    color: #36536b;
  }
  .about-hero__list {
    margin-bottom: 100px;
    margin-left: 95px;
  }
  .about-hero__item {
    margin-bottom: 56px;
  }
  .about-hero__img {
    height: 500px;
  }
  .about-hero__img-container {
    background-size: contain;
    background-image: url("../images/icons/draws.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 419px) calc(50% - 900px);
  }
}
@include mobile-first(700px) {
  .about-curcle {
    background-position: calc(50% + 419px) calc(50% - 800px);
  }
}

@include mobile-first(600px) {
  .about-curcle {
    background-position: calc(50% + 419px) calc(50% - 750px);
  }
}
@include mobile-first(300px) {
  .about-curcle {
    background-position: calc(50% + 419px) calc(50% - 700px);
    // background-position: calc(50% + 300px) calc(50% - 900px);
  }
}
