// CULTURE SECTION START 
.culture {
    
}
.culture__list {
    margin-bottom: 48px;
    padding: 16px 0;
    list-style: none;
    border-top: 1px solid rgb(54, 83, 107,0.25);
    border-bottom: 1px solid rgb(54, 83, 107,0.25);
}
.culture__item {
    // max-width: 350px;
    width: 100%;
    margin-bottom: 32px;
}
.culture__item:nth-child(3){
    margin-bottom: 0;
}
.culture__item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */
    
    text-align: center;
    
    color: #36536B;
    
    mix-blend-mode: normal;
    opacity: 0.7;
}
.culture__item-number-text {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 72px;
    /* identical to box height, or 129% */
    
    text-align: center;
    letter-spacing: -0.430769px;
    
    color: #BA4270;
    
}
@include mobile-first(600px){
    .culture__list{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0;
        border: none;
    }
    .culture__item{
        width: 170px;
        padding: 16px 0;
        // max-width: 270px;
        border-top: 1px solid rgb(54, 83, 107,0.25);
        border-bottom: 1px solid rgb(54, 83, 107,0.25);
    }
}
@include mobile-first(700px){
    .culture__item{
        width: 200px;
    }
}
@include mobile-first(800px){
    .culture__item{
        width: 230px;
    }
}
@include mobile-first(900px){
    .culture__item{
        width: 270px;
    }
}
@include mobile-first(1000px){
    .culture__item{
        width: 300px;
    }
}
@include mobile-first(1100px){
    .culture__list {
        display: flex;
        // align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 72px;
        padding: 0;
        list-style: none;
    }
    .culture__item {
        width: 350px;
        padding: 16px 0;
        border-top: 1px solid rgb(54, 83, 107,0.25);
        border-bottom: 1px solid rgb(54, 83, 107,0.25);
    }
    .culture__item-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #36536B;
        mix-blend-mode: normal;
        opacity: 0.7;
    }
    .culture__item-number-text {
        font-family: 'DM Serif Display';
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 72px;
        letter-spacing: -0.430769px;
        color: #BA4270;
    }
}