.site-header {
}

.site-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 32px;
}

.site-header__first {
}

.logo__img {
  width: 135px;
  height: 38px;
}

.sitenav {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  display: none;
  width: 300px;
  height: 100vh;
  padding: 95px 24px;
  background-color: #1b262f;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);

  &__open {
    display: block;
  }
}

.x-btn {
  @include mixin-before(absolute, 48px, 251px);
  width: 22px;
  height: 23px;
  border: none;
  background-color: transparent;
  background-image: url("../../images/icons/x-btn.svg");
  @include bg("no-repeat", "center");
  cursor: pointer;
}

.sitenav__list {
  display: flex;
  flex-direction: column;
  @include ul-unstiled;
  padding-top: 43px;
  border-top: 1px solid #b9bec3;
}

.sitenav__item {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #fbfcfe;

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  &:last-child {
    .schedule {
      display: block;
      padding: 16px 25px 14px;
      font-weight: 700;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: -0.115385px;
      color: #fbfcfe;
      background-color: #ba4270;
      box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
      border-radius: 24px;
      text-decoration: none;
    }
  }
}

.sitenav__link {
  @include link(#b9bec3);
}

.site-header__second {
}

.schedule {
  display: none;
}

.burger-btn {
  display: inline-block;
  width: 28px;
  height: 17px;
  border: none;
  background-color: transparent;
  background-image: url("../../images/icons/burger.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

@include mobile-first(600px) {
  .burger-btn {
    display: none;
  }

  .site-header__first {
    display: flex;
    align-items: center;
  }

  .sitenav {
    position: static;
    display: block;
    background-color: transparent;
    width: auto;
    height: auto;
    padding: 0;
    box-shadow: none;
  }

  .sitenav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
    padding-top: 0;
    border-top: 0;
  }

  .sitenav__item {
    font-size: 15px;
    line-height: 18px;
    color: #36536b;

    &:not(:last-child) {
      margin-right: 20px;
      margin-bottom: 0;
    }

    &:last-child {
      .schedule {
        display: none;
      }
    }
  }

  .x-btn {
    display: none;
  }

  .schedule {
    display: block;
    padding: 16px 25px 14px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.115385px;
    color: #fbfcfe;
    background-color: #ba4270;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border-radius: 24px;
    text-decoration: none;
  }
}

@include mobile-first(768px) {
  .sitenav__list {
    margin-left: 64px;
  }

  .sitenav__item {
    font-size: 15px;
    line-height: 18px;
    color: #36536b;

    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}
